<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MNIST 과제3</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>👗 Fashion MNIST Image Prediction 👗</h1>
        </header>
        <div id="uploadForm" class="upload-container">
            <h2>Please upload an image.</h2>
            <label class="custom-file-upload">
                <input type="file" id="fileInput" accept="image/*">
            </label>
            <button id="uploadButton" class="upload-button">Predict</button>
            <p id="result" class="result-text"></p>
            <div id="imagePreview" class="image-preview">
                <img id="uploadedImage" src="" alt="Uploaded Image" style="display:none;">
            </div>
        </div>
    <script src="{{ url_for('static', filename='js/mnist.js') }}"></script>
</body>
</html>
